@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-box-orient: vertical;
}

.chart {
  flex-grow: 1;
  display: inline-block;
  height: 100%;
  color: white;
  margin-right: 0.2%;
  text-align: center;
  font-size: 0.5em;
  border-radius: 50px;
  align-content: center;
}

.bar {
  width: 100%;
  height: 0px;
  background: linear-gradient(rgb(7, 206, 7), rgb(6, 168, 6));
  border-radius: 100px;
}

.bar:hover {
  background: linear-gradient(rgb(0, 255, 0), rgb(94, 255, 0));
}

.curr {
  background: white;
}

.unsorted {
  background: linear-gradient(rgb(117, 8, 8), rgb(218, 5, 5));
}

.table {
  background: rgb(16, 17, 27);
  flex-grow: 1;
  width: 100%;
  white-space: nowrap;
  padding: 12px;
  -ms-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-size: 50px 50px;
  background-image: linear-gradient( to right, rgb(5, 5, 10) 1px, transparent 1px), linear-gradient(to bottom, rgb(5, 5, 10) 1px, transparent 1px);
  /* background-image: linear-gradient(
    to bottom,
    rgb(12, 12, 26) 1px,
    transparent 2px
  ); */
}

.expand {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.header {
  display: flex;
  align-self: center;
  align-content: center;
}

.header-container {
  padding: 1% 1%;
  background: rgb(29, 31, 48);
  color: white;
}

.header span {
  font-weight: bold;
}

.section {
  flex-grow: 1;
  padding: 0px 4px;
  position: relative;
  display: inline-block;
  text-align: center;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  border: 0;
  background: rgb(236, 111, 8);
  color: white;
  margin: 2px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: darkorange;
}

option {
  color: white;
  background: rgb(67, 70, 107);
}

option:checked {
  background: rgb(42, 43, 63);
  color: white;
}

select {
  padding: 8px 12px;
  margin: 2px;
  border: 0;
  color: white;
  background: rgb(56, 59, 90);
  border-radius: 4px;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: rgb(84, 88, 134);
  outline: none;
  border-radius: 12px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: darkorange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  border-radius: 12px;
  height: 25px;
  background: darkorange;
  cursor: pointer;
}

.disabled {
  background: grey;
}

.watermark {
  position: absolute;
  bottom: 3%;
  left: 1%;
  color: white;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.watermark:hover {
  opacity: 1;
}

a:visited {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header {
    display: block;
  }
  .section {
    position: relative;
    width: 47%;
    padding: 12px 4px;
  }
}